.closeButton {
  background: none;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  border-radius: 2px;
  margin-left: auto;
  padding: 16px;
  height: 100%;
  border-radius: 4px;
}

.closeButton:hover {
  cursor: pointer;
}

.toast {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  width: 95vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid #f1f5f9;

  span {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    width: 340px;
  }
}
